body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
 }

/* MAIN CONTAINER */
.main-container{
  max-width:100wh;
  height:2507px ;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #EFF2F5;
}

.container{
  width:1328px;
  height:2570px ;
  display:flex;
  position:relative;
  top: 50px;
  flex-direction: row;
  /* background-color: rgb(172, 188, 155); */
  justify-content: space-around;
  gap: 20px;
}


/* FORM CONTAINER */
.form-container{
  width:881px;
  height:879px;
  position:relative;
}

.form-container-outer{
  width: 881px;
  height: 879px;
  padding: 35px 73px 58px 79px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.form-container-inner{
  width: 729px;
  height: 786px;
  top: 35px;
  left: 79px;
  padding: 8px;
  gap: 8px;
}

.form-layout{
  width: 713px;
  height: 770px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-title{
  width: 638px;
  height: 42px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color:#0F1629;
}

.form-body{
  width: 713px;
  height: 688px;
  display: flex;
  flex-direction: column;
  gap: 28px;

}

.horizontal-line{
  width: 713px;
  height: 1px;
  border: 0px 0px 1px 0px;
  background: #C9CFDD99;
  border-bottom: 1px solid #C9CFDD99
}

.term{
  width: 162.5px;
  height: 84px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}


/* INFO CONTAINER */

.info-container{
  width:427px;       /* fixed*/
  height:587px;       /* fixed*/
  position: relative;
}

.info-container-outer{
  width:426px;        /* fixed*/
  height:576px;       /* fixed*/
  border-radius: 16px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
}

.info-container-inner{
  width:426px;        /* fixed*/
  height:576px;       /* fixed*/
  border-radius: 8px;
  padding: 55px 16px 55px 16px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:35px;
  position:relative;
  background-color: #0052FE;
  flex-direction: column;
}

.inner-div-1{
  width:327px;
  height:182px;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:14px;
}

.heading-text{
  width:268px;
  height:80px;
  font-family: Inter;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.description-text{
  width:327px;
  height:68px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color:#F2F2F2;
}

.inner-div-2{
  width:178.66px;
  height:166.22px;
}

.inner-div-2-image{
  width:178.66px;
  height:166.22px;
}

.inner-div-3{
  width: 237px;
  height: 48px;
  border-radius: 8px;
  position: relative;
}

.inner-div-3-sub-div{
  width: 237px;
  height: 48px;
  /* position: absolute;
  top: 473.22px;
  left: 94.5px; */
  border-radius: 8px;
}

.start-btn{
  width: 237px;
  height: 48px;
  /* position: absolute; */
  /* top: 473.22px; */
  /* left: 94.5px; */
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  gap: 8px;
  background-color: #FFFFFF;
  border: none;
  
}

.btn-content{
  width: 189px;
  height: 28px;
  display: flex;
  gap:6px;
  align-items: center;
}

.start-text{
  width: 163px;
  height: 28px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}


/* AntD styles */
.ant-select-selector{
background-color: #EFF2F5 !important;
}

.ant-select-selector:focus{
  outline:none;
}

.ant-radio-button-wrapper{
  width: 335px;
  height: 56px;
  padding: 24px 12px 24px 12px;
  border-radius: 8px;
  border: 1px solid #3E424A !important;
  display:flex;
  justify-content: space-between;
}

.ant-radio-group{
  display:flex;
  height: 84px;
  gap: 10px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width: 335px;
}

ant-radio-button.checked{
  width: 162.5px !important;
  height: 56px!important ;
  padding: 24px 12px 24px 12px !important;
  border-radius: 8px !important;
  border: 1px solid #0052FE !important;
  /* display:flex;
  color:red;
  justify-content: space-between; */
}

ant-radio-button.unchecked{
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  width: 162.5px !important;
  line-height: 21.78px;
  height: 56px!important ;
  padding: 24px 12px 24px 12px !important;
  border-radius: 8px !important;
  border: 1px solid #3E424A !important;
  display:flex;
  color:#3E424A;
  align-items: center;
  justify-content: space-between;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

/* .ant-radio-button-wrapper.ant-radio-button-wrapper-checked span:nth-of-type(2) .anticon-check{
  display: none !important;
  visibility: hidden !important;
} */
.ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
  border: 5px solid blue;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked span:nth-of-type(2) .anticon-check {
  visibility:visible !important;
  display: inline-flex;
  /* color: aqua; */
}

.ant-radio-button-wrapper span:nth-of-type(2) .anticon-check {
  visibility:hidden !important;
  display: none;
  /* color: aqua; */
}

/* .ant-radio-button-wrapper.ant-radio-button-wrapper-checked span:nth-of-type(2) .anticon-check.tick-2 {
  visibility:visible !important;
  display: inline-flex;
  /* color: aqua; */
/* } */ */

/* :where(.css-dev-only-do-not-override-xu9wm8).ant-input-affix-wrapper >input.ant-input{
  background-color: #EFF2F5;
} */

:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number-affix-wrapper input.ant-input-number-input{
  background-color: #EFF2F5;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number-affix-wrapper input.ant-input-number-input{
  background-color: #EFF2F5;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-input-number-affix-wrapper :hover
input.ant-input-number-input 
.ant-input-number-handler {
  /* background-color: #EFF2F5; */
  display: none !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-radio-button-wrapper span{
  transform:translateY(-10px);
}

.ant-input-number-input {
  transform:translateY(-5px);
}

